.header {
  width: 100%;
  height: 5%;
  background-color: black;
  color: white;
}
ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
  color: white;
}
li.nav-items {
  float: right;
}
.nav-items > a {
  display: block;
  text-decoration: none;
  color: white;
}
li.nav-items:hover {
  background-color: rgb(94, 94, 94);
}
.nav-brand > a {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 500;
  color: white;
}
